@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento');

body{
  background-color: cadetblue;
  font-family: 'Open Sans Condensed', sans-serif;

}
  /*background-color: #3333;*/
.brder{}

img{
  /*allow the width to resize nicely*/
  max-width: 100%;
}

header{
  font-family: 'Berkshire Swash', cursive;
  padding: 10px 0;
  clear: both;
}

.wrapper{
    
    /*border: 1px black solid;*/
    margin: 0 auto;
    max-width: 100%;
}

nav{
  /*border: 1px black solid;*/
  clear: both;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0;
}

nav ul{
  /*Get rid of unordered list*/
 
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

/* makes the navs look more like button*/
nav li{
  /*border: 1px black solid;*/
  display: inline-block;
}

nav a {
  background-color: azure;
  display: block;
  padding: 10px;
  /*remove underline from a */
  text-decoration: none;
  color: black;
}

/*add hover pseudo class to turn "button" to another colour*/
nav a:hover{
  
  background-color: black;
  color: white;
  
}

#main{
  
  width: 100%;
}

#primary{
  background-color: #DDD;
  padding: 5px;
}

#secondary{
  background-color: white;
  padding: 5px;
}

footer{
  clear: both;
  background-color: #222;
  text-align: center;
  padding-top: 35px;
  color: #ccc;
}

/*change happen when screen size change*/
@media screen and (min-width: 480px){
  #primary{
    width: 48%;
    float: left;
  }
  #secondary{
    width: 48%;
    float: right;
  }
  
}
@media screen and (min-width: 800px){
  header{
    text-align: center;
  }
  body{
    background-color: salmon;
  }
  
  nav{
    /*float nav to the left based on screen size*/
    float: left;
    width: 20%;
    padding: 0px;
  }
  
  #main{
    float: right;
    width: 80%;
  }
  nav li{
    display: block;
    padding: 10px 0px;
    width: 90%;
  }
  
  
}

@media screen and (min-width: 1200px){
  .wrapper{
    max-width: 1100px;
  }
}



