body{}
  /*background-color: #3333;*/
  .wrapper{
    
    border: 1px black solid;
    max-width: 1100px;
    margin: 0 auto;
  }

nav{
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0;
}

nav ul{
  /*Get rid of unordered list*/
 
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

/* makes the navs look more like button*/
nav li{
  /*border: 1px black solid;*/
  display: inline-block;
}

nav a {
  background-color: azure;
  display: block;
  padding: 10px;
  /*remove underline from a */
  text-decoration: none;
  color: black;
}

/*add hover pseudo class to turn "button" to another colour*/
nav a:hover{
  background-color: black;
  color: white;
  
}

#main{
  width: 100%;
}

#primary{
  background-color: #DDD;
  padding: 5px;
}

#secondary{
  background-color: white;
  padding: 5px;
}
  